:root {
    --aberto: 100%;
    --fechado: -100%;
}

body {
    @media (min-width:1024px) {
        --tamanhoDivForm: 30vw;
        --aberto: calc(50vw - var(--tamanhoDivForm)/2);
        --fechado: -100vw;
    }

    @keyframes labelAnimation {
        from {
            top: 0.6rem;
        }

        to {
            top: -1.1rem;
        }
    }

    @keyframes formTableAnimationAberto {
        from {
            transform: translateX(var(--fechado));
            opacity: 0;
        }

        to {
            transform: translateX(var(--aberto));
            opacity: 1;
        }
    }

    @keyframes formTableAnimationFechado {
        from {
            transform: translateX(var(--aberto));
            opacity: 1;
        }

        to {
            transform: translateX(var(--fechado));
            opacity: 0;
        }
    }

    @keyframes divGraficoAnimationAberto {
        from {
            transform: translateX(var(--fechado));
            opacity: 0;
        }

        to {
            transform: translateX(var(--aberto));
            opacity: 1;
        }
    }

    .formTableCentroAberto {
        animation: formTableAnimationAberto 1s 1 forwards;
    }

    .formTableCentroFechado {
        animation: formTableAnimationFechado 1s 1 forwards;
    }

    .divGraficoAberto {
        animation: divGraficoAnimationAberto 1s 1 forwards;
    }

    .main {

        @media (min-width:1024px) {
            height: 73vh;
        }

        .vault {

            @media (min-width:1024px) {
                display: grid;
                grid-template-areas:
                    "tabela  tabela"
                    "footer  footer";
                grid-template-columns: 1fr 1fr;
                height: 100%;
            }

            .tabela {
                @media (min-width:1024px) {
                    grid-area: tabela;
                }

                .botoesForm {
                    margin-top: 1rem;
                    display: flex;
                    width: 100%;
                    font-size: 0;

                    @media (min-width:1024px) {
                        margin: 0;
                        padding: 1rem;
                    }

                    .botaoAbrirForm,
                    .botaoAbrirEstatistica {
                        width: 50%;
                        display: flex;
                        gap: 0.1rem;
                        justify-content: center;
                        align-items: center;

                        p {
                            font-size: 1rem;

                            @media (min-width:768px) {
                                font-size: 1.5rem;
                            }
                        }
                    }
                }

                table {
                    border-collapse: collapse;
                    table-layout: fixed;
                    width: 100%;

                    @media (min-width: 768px) {
                        width: 95%;
                        font-size: 1.6rem;
                    }

                    @media (min-width: 1024px) {
                        width: 100%;
                        font-size: 1.6rem;
                    }

                    thead {
                        tr {
                            background-color: rgb(0, 255, 76);
                            color: black;

                            th {
                                padding: 1rem;
                            }
                        }
                    }

                    tbody {
                        text-align: center;
                        vertical-align: center;

                        @media (min-width: 768px) {
                            width: 95%;
                            font-size: 1.5rem;
                        }

                        tr {
                            td {
                                padding: 1rem;
                            }
                        }
                    }
                }
            }

        }

        .formTable {
            position: absolute;
            top: 0.8rem;
            left: -100%;
            width: 100%;
            background-color: var(--destaque);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.3rem;
            padding: 0.5rem;

            @media (min-width:1024px) {
                width: var(--tamanhoDivForm);
                left: 0;
                z-index: 1;
                transform: translateX(var(--fechado));
            }

            .formTextos {
                display: flex;
                gap: 0.6rem;
            }

            .Sucesso {
                background-color: rgb(0, 255, 76);
                padding: 1rem;
            }

            .Falha {
                background-color: rgb(255, 70, 46);
                padding: 1rem;
            }

            form {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                @media (min-width: 768px) {
                    font-size: 1.2rem;
                }

                .divFormEmail, .divFormSenha, .divFormEspecifico{
                    position: relative;

                    input{
                        &:focus~label, &:valid~label{
                            transform: translateY(-2rem);
                            color: var(--fonte);
                            @media (min-width:768px){
                                transform: translateY(-2.5rem);
                            }
                            @media (min-width:1024px){
                                transform: translateY(-2rem);
                            }
                        }
                    }

                    label {
                        left: 6px;
                        top: 11px;
                    }
                }

                .divFormSenha{
                    position: relative;
                    .bi-eye-fill, .bi-eye-slash-fill{
                        align-self: center;
                        color: black;
                        position: absolute;
                        right: 16px;
                        font-size: 1.4rem;
                    }
                }

                .divFormServico{
                    position: relative;

                    select {
                        &:focus~label,&:valid~label{
                            transform: translateY(-2rem);
                            color: var(--fonte);
                        }
                    }

                    label {
                        left: 6px;
                        top: 11px;
                    }
                }

                input, select {
                    padding: 1rem;
                    border: 0px solid transparent;
                    border-radius: 10px;

                    &[type=button] {
                        font-size: medium;
                    }

                    &:focus, :valid {
                        outline: none;
                    }
                }

                label{
                    color: var(--background);
                    pointer-events: none;
                    transition: all 1s ease-in-out;
                    position: absolute;

                    @media (min-width:1024px){

                    }
                }
            }
        }

        .divGrafico {
            width: 100%;
            background-color: var(--background);

            @media (max-width:700) {
                position: absolute;
                left: -105%;
            }

            @media (min-width:1024px) {
                opacity: 0;
            }

            .divCanvas {
                position: relative;
                padding: 0.5rem;

                .fechaDivGrafico {
                    position: absolute;
                    top: 41px;
                    left: 5px;

                    @media (min-width:1024px) {}
                }
            }
        }

        .divPaginas {
            @media (min-width:1024px) {
                grid-area: footer;
                text-align: center;
                justify-self: center;
                align-self: center;
            }

            display: flex;
            gap: 0.5rem;
            width: 15%;

            p {
                background-color: var(--destaque);
                color: var(--fonte);
                font-size: 2rem;
                width: 33%;
                text-align: center;
                border: 1px solid transparent;
                border-radius: 5px
            }
        }
    }
}