@keyframes testeAnimacao{
    from {left: -400px;}
    to{left: 0px;}
}

@keyframes rotate360{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.main {
    .divApresentacao {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p{
            padding: 1rem;
            font-weight: 500;   
        }
        .animacao {
            position: relative;
            animation-name: testeAnimacao;
            animation-duration: 2s;
            animation-iteration-count: 1;
            animation-direction: normal;
            text-align: justify;
        }

        .reactLogo {
            animation: rotate360 3s linear infinite;
        }
        
        .carrousel {
            width: 100%;
            max-width: 600px;
            /* Ou o tamanho que você quiser */
            margin: 0 auto;
            border: 2px solid #ccc;
            /* Só para você enxergar a borda por enquanto */

            .swiper {
                width: 100%;
                height: 400px;
            }

            .swiper-slide img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                /* Isso aqui é sagrado para não achatar a imagem */
            }
        }
    }
}