@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background:rgb(22, 22, 22);
    --destaque: rgb(75, 75, 75);
    --fonte: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--destaque);

    body{

        #root{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;
            font-family: "Montserrat", sans-serif;    
            
            .header{
                font-size: 2.5rem;
                height: 25vh;
                width: 100vw;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                background-color: var(--background);
                color: var(--fonte);
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                box-shadow: 1px 2px 4px 0px transparent;
                @media (min-width: 768px) {
                    font-size: 3rem;
                }

                .divModo{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    svg{
                        height: 50px;
                        width: 50px;
                        fill: var(--fonte);
                    }
                    .tema{
                        width: 4rem;
                        height: 2.7rem;
                        background-color: var(--destaque);
                        border-color: transparent;
                        border-radius: 20px;

                        img{
                            width: 1.6rem;
                        }

                        .iconLuaDireita{
                            position: relative;
                            right: 0.5rem;
                            top: 0.1rem;
                        }

                        .iconLuaEsquerda{
                            position: relative;
                            right: 0;
                            left: 0.5rem;
                            top: 0.1rem;
                        }
                    }
                }
                
                .menu{
                    display: flex;
                    gap: 1rem;

                    p{
                        font-size: small;
                    }
                }
            }

            .main{
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                background-color: var(--background);
                color: var(--fonte);
                margin: 0 0.5rem 0 0.5rem;
                border-radius: 10px;
                width: 97vw;
                gap: 1rem;

                @media (min-width: 768px) {

                }
        }
        }
    }
}
